@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2F2C2E;
  --foreground: #FFF5EA;
  --primary: #A27B5C;
  --primary-light: #b19379;
  --primary-dark: #785535;
  --secondary: #00ff00;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: var(--background);
  padding: 0 1rem;
  border-radius: 0;
  outline: none;
}

button {
  background-color: var(--primary);
}